@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: white;
    align-items: center;
    width: 790px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 15px;
    padding: 30px;
}
header{
    padding-left: 5px;
    text-align: left;
}
header a{
    text-decoration: none;
    color: rgba(97, 97, 97, 0.39);
    font-size: 14px;
}
header a:hover{
    text-decoration: underline;
    color: black;
}

main p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    font-family: Fuzzy Bubbles,Comic Sans MS, Comic Sans, cursive, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.container{
    width: 350px;
    margin: auto;
    text-align: center;
}
.container h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 0px;
}

button{
    background-color: black;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: rgb(94, 94, 94);
    color: white;
}

#resultado{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    text-align: center;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(88, 88, 88);
    color: black;
    text-indent: 5px;
}

label{
    text-align: left;
}